<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="bootstrap.min.css">
</head>
<body class="container">
<!-- {{#rows}} -->
    <div class="col-sm-12">
        <h4>
            <a href="{{url}}">{{title}}</a>
            <small>({{condition}}) - {{poster}}</small>
        </h4>
        <p>{{price}}</p>
            <!-- {{#images}} -->
                <img src="{{.}}" width="200px">
            <!-- {{/images}} -->
        <p>{{{description}}}</p>
        <hr/>
    </div>
<!-- {{/rows}} -->
</body>
</html>
